/* Contenedor de la lista de documentos */
.document-list {
    list-style: none;
    padding: 0;
}

/* Cada fila de documento */
.document-item {
    background-color: #f8f9fa; /* Color de fondo suave */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: background-color 0.2s ease-in-out;
}

/* Efecto hover para la fila del documento */
.document-item:hover {
    background-color: #e9ecef; /* Cambia de color al pasar el ratón */
}

/* Título del documento */
.document-title {
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
}

/* Estilo de las acciones CRUD */
.document-actions {
    display: flex;
    align-items: center;
}

/* Iconos de acción CRUD */
.action-icon {
    color: #6c757d; /* Color de los iconos */
    font-size: 20px; /* Tamaño de los iconos */
    margin-left: 15px; /* Espacio entre los iconos */
    transition: color 0.2s ease-in-out;
}

/* Efecto hover en los iconos */
.action-icon:hover {
    color: #007bff; /* Cambia el color del icono al pasar el ratón */
    text-decoration: none;
}


.btn-delete:focus {
    outline: none !important;
    box-shadow: none !important; /* Si hay sombras, también se eliminan */
}

.input-edit-document{
    background-color: white !important;
}

.icon-delete{
    color: var(--color-primary) !important;
    height: 14px;
}

.icon-delete:hover{
    color: var(--color-danger) !important;
    height: 14px;
}

.approved-document{
    background-color: var(--color-green-clear) !important;
}

.approved-document:hover{
    background-color: var(--color-green-clear-hover) !important;
}

.select-index{
    background-color: white;
}

.label-index{
    font-weight: bold;
    color: var(--color-primary-dark);
}
